* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  height: 100%;
}

body {
	/*background-image: url(../img/typing.jpg);
	background-size: cover;
	background-attachment: fixed;*/
	width: 100vw;
  overflow-x: hidden;
}

.anim, .anim svg {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}
.anim path {
  stroke-width: 2;
}

.container {
  width: 90%;
}

.position-holder {
  position: absolute;
  top: 50%;
  z-index: 998;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bolder;
  text-align: center;
  text-shadow: 2px 2px #000;
}

#banner {
	display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#raymLogo {
  animation: rotateMyLogo infinite 20s linear;
}

@keyframes rotateMyLogo {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.navbar-fixed {
  height: 0;
}

nav {
	padding: 50px;
	padding-bottom: 100px;
	background-color: rgba(0, 0, 0, 0.5);
}

.left li {
	margin-right: 120px;
}

.right li {
	margin-left: 120px;
}

.right,
.left {
	font-family: 'Proza Libre', sans-serif;
	font-weight: bolder;
}

@media only screen and (min-width: 1024px) {

	.navbar-fixed nav {
		bottom: 0;
	}
}



/* ABOUT */

#about {
  background-color: #504E63;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Vertical Ruler */

.timeline {
  position: relative;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #EAD6BD;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container Around Content */

.hx-container {
  padding: 0 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  margin-left: 0; /* to override bootstrap margin auto*/
  margin-bottom: 5px;
}

/* Circles on the Timeline */

.hx-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #A88661;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Position of Containers */

.hidari {
  left: 0;
}

.migi {
  left: 50%;
}

/* Add Arrows to the Containers */

.hidari::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #EAD6BD;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #EAD6BD;
}

.migi::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #EAD6BD;
  border-width: 10px 10px 10px 0;
  border-color: transparent #EAD6BD transparent transparent;
}

/* Fix the Circles for Container on the Right Side */

.migi::after {
  left: -13px;
}

.content {
  background-color: #EAD6BD;
  position: relative;
  border-radius: 6px;
  color: #00142F;
  padding: 3px;
  border: 2px solid #A88661;
}

.content h5 {
  color: #00142F;
  font-family: 'Proza Libre', sans-serif;
  font-size: 1em;
  font-weight: bolder;
}

.content p {
	color: #00142F;
	font-family: 'Proza Libre', sans-serif;
}

/* Media queries - Responsive timeline on screens less than 768px wide */
@media all and (max-width: 767px) {
  #banner h1 {
    font-size: 2.1rem;
  }

  #banner h2 {
    font-size: 1.8rem;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .hx-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .hx-container::before {
    left: 60px;
    border: medium solid #EAD6BD;
    border-width: 10px 10px 10px 0;
    border-color: transparent #EAD6BD transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .hidari::after, .migi::after {
    left: 18px;
  }

  /* Make all right containers behave like the left ones */
  .migi {
    left: 0%;
  }
}

@media only screen and (max-width: 374px) {
	.timeline {
		padding-top: 130px;
		padding-bottom: 20px;
	}
}

@media only screen and (min-width: 375px) and (max-width: 413px) {
	.timeline {
		padding-top: 140px;
		padding-bottom: 30px;
	}
}

@media only screen and (min-width: 414px) and (max-width: 766px) {
	.timeline {
		padding-top: 140px;
		padding-bottom: 10px;
	}
}

@media only screen and (min-width: 767px) and (max-width: 835px) {
	.timeline {
		padding-top: 180px;
		padding-bottom: 170px;
	}

	.hx-container {
		margin-bottom: 50px;
	}
}

@media only screen and (min-width: 836px) and (max-width: 1314px) {
  .timeline {
    padding-top: 80px;
    padding-bottom: 70px;
  }
}

/*@media only screen and (min-width: 1315px) {
  .timeline {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}*/

/* SKILLS */

#skills {
	width: 100vw;
	height: 100vh;
	background-image: url('../img/aurora.jpg');
	background-attachment: fixed;
	background-size: cover;
	position: relative;
  padding: 50px;
}

#skills .row {
  text-align: center;
}

#skills .row > .col {
  height: 20vh;
}

#skills img {
  height: 10vh;
  max-width: 30vw;
}

/*.skillset {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}*/


@media only screen and (max-width: 768px) {

	.skillset {
		width: 90vw;
	}
}

/* PROJECTS */

#projects {
  background-color: #EAD6BD;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  padding-bottom: 1px;
}

#personalWidgets {
  /*width: 30vw;*/
}

.card {
	background-color: #f2f2f2;
	border: 1px solid #00142F;
}

.card.medium .card-image+.card-content {
  overflow-y: scroll;
}

.card .card-action {
	font-weight: bolder;
	font-family: 'Cormorant Garamond', serif;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
	color: #00142F !important;
}

@media only screen and (min-width: 767px) and (max-width: 1025px) {

    #projects {
      padding-top: 200px;
    }
}

/* CONTACT */

#contact {
  background-color: #504E63;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  padding-bottom: 1px;
}

#profile {
  padding-top: 50px;
}

#message {
  margin-top: 50px;
}

#message i {
  color: white;
  vertical-align: top;
}

.input-field input,
.input-field .helper-text {
  color: white;
}

.input-field label {
  color: white;
}

textarea {
  height: auto;
  color: white;
  padding: 20px;
  resize: none;
}

#textarea1:focus {
  outline: #26a69a auto 5px;
}

label[for="textarea1"] {
  padding: 20px;
}

#sendBtn {
  background-color: #A88661;
  color: #fff;
}

.footer-copyright {
  color: #A88661;
  margin-top: -8px;
}

#downloadCV {
  background-color: #504E63;
  margin-bottom: 5px;
}

#downloadCV i {
  vertical-align: bottom;
}

input[type=email].valid:not(.browser-default) {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}

@media only screen and (min-width: 767px) and (max-width: 1025px) {

    #contact {
      padding-top: 200px;
    }
}

/*input[type=email]:not(.browser-default).valid ~ .helper-text[data-success] {
  color: #fff;
}*/

/*input[type=email]:not(.browser-default):focus:not([readonly])+label {
  color: white;
}*/